* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

img {
  width: 100%;
}

body {
  background-color: rgb(243, 242, 242);
}

h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}

p {
  margin: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, sans-serif;
  font-size: 1rem;
}

.color__staff {
  color: #FF00D5;
}

h1 {
  font-size: 3rem;
  margin: 0px;
  padding: 0px;
  font-family: "Braah One", sans-serif;
}
h1 .arg {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.5em;
  font-weight: 900;
}
h1 .fem {
  color: #FF00D5;
}

.footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  padding: 4vh 8vw;
  gap: 2.5em;
}
.footer__logo {
  width: 1.5em;
}
.footer__redes, .footer__contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__redes__instagram, .footer__redes__twitter, .footer__redes__mail, .footer__contacto__instagram, .footer__contacto__twitter, .footer__contacto__mail {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 576px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
.nav-item:hover {
  background-color: #FF00D5;
}
.nav-item:hover .nav-link {
  color: white;
}

nav {
  font-size: 1rem;
}

@media (min-width: 992px) {
  .collapse {
    justify-content: end;
  }
  .collapse .navbar-nav {
    text-align: center;
  }
}
.mi_contenedor {
  padding: 12px;
  width: 100%;
}
@media (min-width: 576px) {
  .mi_contenedor {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .mi_contenedor {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .mi_contenedor {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .mi_contenedor {
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .mi_contenedor {
    width: 1320px;
  }
}

.inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.inicio__portada {
  margin: 6vh;
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 30px;
}
.inicio__portada .courage, .inicio__portada .revolution {
  color: #3E0CE8;
}
.inicio__portada .revolution {
  color: #B60CE8;
}
.inicio__imagenes {
  display: none;
}
.inicio__texto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
.inicio__texto__problema, .inicio__texto__mision {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  text-align: center;
  background-color: rgba(63, 12, 232, 0.8352941176);
  color: rgb(243, 242, 242);
  padding: 5vh 10vw;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5);
  overflow: auto;
  border-radius: 10px;
}

@media (min-width: 576px) {
  .inicio__portada {
    margin: 15vh;
    grid-template-columns: 50% 50%;
  }
}
@media (min-width: 960px) {
  .inicio__texto__problema, .inicio__texto__mision {
    width: 60%;
    padding: 5vh 5vw;
  }
  .inicio__portada {
    margin: 15vh;
    grid-template-columns: 50% 50%;
  }
  .inicio__imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    margin: 15vh;
  }
  .inicio__imagenes__img {
    width: 300px;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5);
    overflow: auto;
  }
}
.comunidad {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.comunidad__presentacion {
  text-align: center;
  padding: 27vh 10vw;
}
.comunidad__comentarios {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.comunidad__comentarios__comentario {
  padding: 20px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 1px 3px 3px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 1px 6px 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 1px 6px 3px rgba(0, 0, 0, 0.6);
  overflow: auto;
}
.comunidad__comentarios__comentar {
  width: 100%;
}
.comunidad__comentarios__comentar form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.comunidad__comentarios__comentar__elemento {
  width: 100%;
}
.comunidad__comentarios__comentar__elemento textarea, .comunidad__comentarios__comentar__elemento input {
  width: 100%;
}
@media (min-width: 576px) {
  .comunidad__presentacion {
    padding: 32vh 15vw;
  }
}
@media (min-width: 960px) {
  .comunidad__presentacion {
    padding: 33vh 20vw;
  }
}

.consejos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.consejos__presentacion {
  text-align: center;
  padding: 32vh 10vw;
}
.consejos__videos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40vh 40vh;
  align-items: center;
  justify-items: center;
}
.consejos__videos .video {
  padding: 5px;
  width: 100%;
  height: 100%;
  text-align: center;
}
.consejos__videos .video iframe {
  width: 80%;
  height: 90%;
}
@media (min-width: 576px) {
  .consejos__presentacion {
    text-align: center;
    padding: 36vh 20vw;
  }
  .consejos__videos {
    grid-template-columns: 0.5fr 0.5fr;
  }
  .consejos__videos .video iframe {
    width: 100%;
    height: 75%;
  }
}
@media (min-width: 1000px) {
  .consejos__videos .video iframe {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1200px) {
  .consejos__presentacion {
    text-align: center;
    padding: 34vh 25vw;
  }
  .consejos__videos {
    grid-template-columns: 0.34fr 0.33fr 0.33fr;
  }
  .consejos__videos .video iframe {
    width: 100%;
    height: 80%;
  }
}

.entrenamientos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.entrenamientos__form {
  display: grid;
  grid-template-rows: 1/3 1/3 1/3;
  align-items: center;
  justify-items: center;
  text-align: center;
  width: 80%;
}
.entrenamientos__presentacion {
  text-align: center;
  padding: 25vh 13vw;
}
@media (min-width: 576px) {
  .entrenamientos__presentacion {
    padding: 28vh 15vw;
  }
}
@media (min-width: 960px) {
  .entrenamientos__presentacion {
    padding: 29vh 20vw;
  }
}

.noticias__presentacion {
  text-align: center;
  padding: 33vh 10vw;
}
.noticias__label {
  text-align: center;
}
.noticias__articulos {
  display: grid;
  gap: 1em;
  padding: 1em 15vw;
}
.noticias__articulos .noticia {
  text-align: center;
  background-color: white;
}
.noticias__articulos .noticia a {
  color: black;
}
@media (min-width: 576px) {
  .noticias__articulos {
    grid-template-columns: 0.5fr 0.5fr;
  }
}
@media (min-width: 960px) {
  .noticias__presentacion {
    padding: 37.5vh 10vw;
  }
  .noticias__articulos {
    grid-template-columns: 0.33fr 0.33fr 0.33fr;
  }
}

/*# sourceMappingURL=style.css.map */
