@mixin flex($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}
@mixin presentacion($height, $width){
    text-align: center;
    padding: $height $width;
}

.inicio{
    @include flex(column);

    &__portada{
        margin: 6vh;
        display: grid;
        justify-items: center;
        align-items: center;
        gap: 30px;
        

        .courage, .revolution{
            color: $violeta;
        }
        .revolution{
            color: $violeta2;
        }
        
    }

    &__imagenes{
        display: none;
    }

    &__texto{
        @include flex(column);
        color:azure;
        gap: 20px;
        margin-bottom: 20px;

        &__problema, &__mision{
            text-align: center;
            background-color: $gris;
            padding: 10vh 10vw;
        }
    }

}

@media (min-width:576px) {
    .inicio__portada{
        margin: 15vh;
        grid-template-columns: 50% 50%;
    }
}

@media (min-width:960px) {
    .inicio{
        &__portada{
            margin: 15vh;
            grid-template-columns: 50% 50%;
    
        }
        &__imagenes{
            @include flex(row);
            margin:15vh;

            &__img{
                width: 380px;
            }
        }
    }

}